<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Techstudio Mailer</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
     <link rel="stylesheet" type="text/css" href='css/contactus.css' /> 
  </head>

  <body>
    <div class="mail-content">
      <header>
        <h1>You Received A Mail From: {{{fullName}}}</h1>
      </header>

      <main>
        <section class="content-head">
          <p>Hi TechStudio Academy,</p>
          <p>There’s a mail for you sent from your website.</p>
          <p>Here’s all you need to know about the mail:</p>
        </section>

        <section class="content-body">
          <div class="content">
            <h6>Sender Full Name:</h6>
            <p>{{{fullName}}}</p>
          </div>
          <div class="content">
            <h6>Sender Email:</h6>
            <p>{{{email}}}</p>
          </div>
          <div class="content">
            <h6>Mail Subject:</h6>
            <p>Training Program</p>
          </div>
          <div class="content">
            <h6>Sender Message:</h6>
            <p>{{{message}}}</p>
          </div>
        </section>
      </main>
    </div>
  </body>
  {{!-- <body>
    <header>Testing email</header>
    <main>
      <h1>You Received a mail from: {{{fullName}}}</h1>
      <p>{{{message}}}</p>
      <small>senders email: {{{email}}}</small>
    </main>
  </body> --}}
</html>